*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
/*nav*/
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 100%;
    margin: auto;
    padding: 35px 0px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Make sure .menu has position context */
}

.menu li {
    position: relative; /* Relative position for child pseudo-elements */
    list-style-type: none; /* Remove bullet points from list items */
}

.menu li a {
    margin: 0px 4px;
    padding: 5px 10px;
    color: #696969;
    text-decoration: none; /* Remove underline from links */
    position: relative; /* Position relative for the pseudo-element */
}

.menu li a::after {
    content: '';
    position: absolute;
    height: 3px;
    bottom: -5px; /* Adjust to place bar below the text */
    width: 100%; /* Make it full width of the link */
    left: 0; /* Align with the left of the anchor */
    border-radius: 2px;
    background-color: #3647df;
    transition: all ease 0.3s;
    transform: scaleX(0); /* Start as hidden */
}

.menu li a:hover::after,
.menu li a.active::after {
    transform: scaleX(1); /* Scale to full width on hover or active */
}

.menu li a:hover {
    color: #333333; /* Change color on hover */
}


.logo{
    font-size:2rem;
    color:#333333;
    font-weight: 700;
}

.logo i{
    color: #3647df;
}
.book-now-btn{
    color: #202020;
    background: linear-gradient(48deg, rgb(174, 181, 254) 0%, rgb(215, 214, 255) 93%);
    font-weight: 600;
    width: 150px;
    height: 45px;
    text-transform: uppercase;
    display: inline-flex; /* Use inline-flex to allow proper sizing */
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: all ease 0.3s;
}

.book-now-btn:hover{
    transform: scale(1.05);
}

#main{
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;

}

.main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(48deg, rgb(174, 181, 254) 0%, rgb(215, 214, 255) 93%);

}

.main-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: contain;
}

.main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 500px;
    width: 100%;
}

.main-text strong{
    color: #333333;
    font-size: 0.9rem;
    background-color: aliceblue;
    height: 40px;
    padding: 0px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-text strong i{
    margin-left: 5px;
}

.main-text h1{
    font-size: 3.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 4.3rem;
    margin: 15px 0px;
    color: #141316;
}

.main-text a{
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #1f1f1f;
    border-radius: 10px;
    font-weight: 600;
    background: linear-gradient(48deg, rgb(174, 181, 254) 0%, rgb(215, 214, 255) 93%);
}

/* search */
.search-tour {
    border-radius: 100px;
    background-color: #ffffff;
    max-width: 1000px; /* Increased width to make it larger horizontally */
    padding: 30px 50px; /* Added padding to increase size vertically and horizontally */
    margin: 70px auto;
    box-shadow: 8px 8px 30px rgba(29, 29, 29, 0.15);
}

.search-tour form{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.t-search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.s-b-icon{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #242424;
    background-color: #e9e5ff;
    border-radius: 50%;
}
.t-search-box span{
    font-size: 1rem;
    font-weight: 500;
    color: #141316;
    margin-bottom: 4px;
}
.s-b-input span i{
    font-size: 0.6rem;
}

.s-b-input{
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
}

.s-b-input input{
    border: 1px solid rgba(29,29,29,0.3);
    padding: 5px 10px;
    background-color: #f9f8ff;
    width: 100%;
    outline: none;
}

/** trending **/
#trending {
    background-color: #f9f8ff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 50px 0px;
}

.trending-heading {
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.trending-heading h2,
.destination-heading h2 {
    font-size: 2.4rem;
    color: #141316;
    font-weight: 700;
}

.trending-heading p,
.destination-heading p {
    color: #696969;
    margin: 10px 20px;
}

.trending-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin-top: 40px;
    flex-wrap: wrap; /* Allows boxes to wrap onto new lines if needed */
    gap: 20px; /* Adds space between boxes */
}

.trending-box {
    flex: 1 1 250px; /* Allows flexible width but keeps minimum size */
    padding: 15px;
    max-width: 400px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px rgba(29, 29, 29, 0.1);
}

.t-b-img {
    width: 100%;
    height: 100%;
    max-height: 190px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    overflow: hidden;
}

.t-b-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.t-b-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0px;
}

.t-b-text span {
    color: #696969;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.price-book {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.t-price {
    font-size: 1.5rem;
    color: #363636;
    font-weight: 700;
    letter-spacing: 1px;
}

.t-book {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3647df;
    color: #3647df;
    border-radius: 8px;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.t-book:hover {
    color: white;
    background-color: #3647df;
}

.agency-name {
    background-color: #f1efff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
    margin-top: 15px;
}

.agency-name img {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
}

.agency-name span {
    color: #474747;
    font-size: 0.8rem;
    font-weight: 500;
}
/* destionation*/
#destination{
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto 70px auto;
}

.destination-heading{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.destination-box{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius:20px ;
    overflow: hidden;
}
.destination-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: flex;
}
.d-b-text-container{
    position:absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(180deg,rgba(0,0,0,0.06) 0%,rgba(0,0,0,0.06) 100% );
}
.d-b-text-container .ratio{
    background-color: #ffffff;
    color: #1b1b1b;
    border-radius: 10px;
    width: 50px;
    height: 25px;
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}

.d-b-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.d-b-text strong{
    color:#ffffff;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.d-b-text span{
    color: #ffffff;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.destination-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.3fr 0.7fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 500px;
    grid-gap: 30px;
    margin: 40px 0px;
}

.d-b-2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.d-b-3{
    grid-column: 3/5;
}
/*testimonials*/
#testimonials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
}

.testimonials-img{
    max-width: 500px;
    width: 100%;
}

.testimonials-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.testimonials-slider{
    max-width: 500px;
    width: 100%;
}

.testimonials-box-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    background-color: #fa479a;
    margin-left: 20px;
}

.testimonials-box{
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid rgba(0,0,0,0.06);
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.06);
}

.testimonials-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.testimonials-box-text{
    width: 100%;
}

.testimonials-box-text i{
    color: #3647df;
    font-size: 1.3rem;
}

.testimonials-box-text p{
    color:#696969;
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin: 5px 0px 15px 0px;
}

.testimonials-box-text strong{
    color: #363636;
    font-weight: 700;
    letter-spacing: 1px;
}